/* ==================
Tier 27
Copyright 2013
written for - www.missionbowlingclub.com

swatch colors
=====================
#b5121b - Dark Red
#2e3720 - Dark Green
#7f7f7f - Light Gray
#D8D8D8 - Off-White
#c05937 - Orange
===================== */

/* Links and Typography 
===================== */
* {
  margin: 0px;
  padding: 0px;
}

body {
  
  /*background: url('../img/mbc-background.png') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-repeat: repeat;
}

a {
  color: #b5121b;
}

a:hover {
  color: #7f7f7f;
}

a:link, a:active, a:visited {
  text-decoration: none;
}

#menu h2 {
  font-size: 22px;
  font-weight: normal;
  color: #b5121b;
  font-family: 'Copperplate-Gothic-Light';
  margin-top: 0px;
}

strong {
  font-weight: normal;
}

/* Global Styling 
====================*/

/* Three Dots */
span.dots {
display: inline-block;
}

h2.dots {
  white-space: nowrap;
  overflow: hidden;
}

.stripe-line { 
  display: inline-block; 
  background: url("../img/mbc-logo-stripes-s.png"); 
  font-size: 20px; 
  background-repeat: repeat-x; 
  width: 100%; 
  margin-left: 10px;
  margin-bottom: 6px;
}

.stripe-line:after { content: '\00A0'; }

/* Layout
===================== */
.container {
  width: 960px;
  min-height: 100px;
  margin: 3% auto;
  padding: 0 30px;
  color: #FFFFFF;
}

.clear {
  clear: both;
}

/* Menu Page
===================== */

.menu-col-alpha, .menu-col-beta {
  position: relative;
  display: inline-block;
  float: left;
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-content p {
  font-family: 'MyriadPro-Regular';
  font-size: 14px;
  line-height: 145%;
  word-spacing: 1px;
  text-align: justify;
}

/* Col Alpha */

.menu-col-alpha {
  margin-right: 4%;
}

.menu-col-alpha p {

}

.menu-col-alpha-main-pic img {
}

.menu-pdf  {
  height: 100%;
  width: 100%; 
}

.menu-pdf img { width: 100%; display: block; }

/*----------------------------
  New Menu Content 
-----------------------------*/
.menu-image, .menu-content {
  display: inline-block;
  float: left;
}
.menu-image {
  width: 62%;
}
.menu-content {
  width: 38%;
}
ul.menu, #img-main {
  display: inline-block;
  float: left;
}
#img-main {
  width: 77%;
}
#img-main img {
  width: 100%;
}
ul.menu {
  list-style-type: none;
  width: 20%;
  margin: 0;
  padding: 0;
}
ul.menu li {
  padding: 0 0 1em 0;
}
ul.menu li img, #img-main img  {
  border-radius: .5em;
  border: 1px solid #555;
}
#img-main img {
  height: 60%;
}
#preload { height: 714px; } #menu { height: 600px; }
