/* ==================
Tier 27
Copyright 2013
written for - www.missionbowlingclub.com

swatch colors
=====================
#b5121b - red
#c55359 - salmon
#301012 - dark cherry
===================== */

/* Links and Typography 
===================== */
@font-face {
    font-family: MyriadPro-Regular;
    src: url('fonts/MyriadPro-Regular.otf');
}

h4, h5 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

h4 {
    font-size: 13px;

    color: #b5121b;

}

h5 {
    position: relative;
    font-size: 13px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    padding: 2px 5px;
    margin-left: -32px;
    margin-right: -16px;
    margin-bottom: 10px;
    border: 1px solid #666;
    background-color: #888;
    color: #301012;
    font-family: 'Copperplate-Gothic-Light';
    text-indent: 20px;
    -webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;  
}

h5:before, h5:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

h5:before, h5:after {
    left: 0px;
    top: 100%;
    border-width: 4px 8px;
    border-style: solid;
    border-color: #444 #444 transparent transparent;
}

p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: justify;
}

/* Global Styling
===================== */

.pageheader {
/*	min-height: 50px;*/
	padding: 10px 0;
	border-top: 1px dotted #333;
	border-bottom: 1px dotted #333;
    	margin-bottom: 15px;
}

.lowercase {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-transform: lowercase;
}

.component {
    margin: 20px 0;
}

.block {
    display: inline-block;
    margin: 8px 12px;
}

.blocks {
    display: inline-block;
}

.block {
    display: inline-block;
    margin: 8px 12px;
}

.blocks {
    display: inline-block;
}

/* Layout
===================== */
body {
    font-family: 'MyriadPro-Regular';
    font-size: 12px;
    background: #888;
}

.big-container {
    background: url(img/sos.png);
    background-repeat: repeat;
    width: 750px; 
    min-height: 300px;
    margin: 0 auto; 
    padding-bottom: 10px;
    box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}

#container {
    padding: 0 15px;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse:collapse;
    border-spacing:0;
}

td {
    padding-right: 10px;
    padding-top: 10px;
} 

tr:nth-child(1) {
    border-bottom: 1px solid #999;
}

.clear {
    clear: both;
}

/* Header
===================== */
#header {
    margin-bottom: 25px;
    height: 70px;
}

ul#links {
    position: relative;
    display: inline-block;
    float: left;
	list-style-type: none;
    width: 70%;
	padding: 10px 0 0 0;

}

#links a {
    display: inline-block;
    float: left;
    text-decoration: none;
    background: #b5121b;
    color: #fbfbfb;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 5px;
    padding: 2px 10px;
    opacity: .7;
}

#links #structure a {
    background: #40E0D0;
}

#links a:hover {
    opacity: 1.0;
}

.pageheader h4 {
    margin-bottom: 3px;
}

#logo {
    position: relative;
    display: inline-block;
    float: right;
    width: 25%;
    height: 30px;
    margin: 10px 0 0 0;
}

#logo img {
    width: 100%;
}

/* Uploader 
==================== */
#upload-resource {
    position: relative;
    height: auto;
    width: 380px;
}

#upload-resource form {
    margin: 0;
    padding: 0;
}

#upload-resource-top {
    margin: 0 0 10px 0;
    height: 30px;
    width: 580px;
}

#upload-resource textarea {
    resize: none;
    outline: none;
    float: left;
    padding: 9px 0 0px 5px;
    height: 33px;
    width: 215px;
    col: 10;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #444444;    
}

.upload-resource-button {
    cursor: pointer;
    float: left;
    margin-left: 10px;
    height: 33px;
    width: 72px;
    border: none;
    background-color: #608AB0;
}

.browse-button {
    cursor: pointer;
    float: left;
    margin: 0;
    height: 33px;
    width: 72px;
    border: none;
    background-color: #C2C2C2;
}

.browse-button p {
    padding: 0;
    text-transform: uppercase;
    font-size: 9px;
    color: #fff;
}

#upload-wrap {
    float: left;
    height: 30px;
    width: 200px;
    display:none;
}

/* Submit Button */
#submit {
    color: #fff;
    background: #b5121b;
    border: none;
    margin: 0;
    padding: 5px 10px;
    opacity: .7;
    transition: .5s;
}

#submit:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

/* Placeholder */
::-webkit-input-placeholder {
    font-size: 12px;
    font-family: 'MyriadPro-Regular';
}

/* Thumbnails
===================== */

.col-alpha, .col-beta {
    position: relative;
    display: inline-block;
}

.col-alpha {
    float: left;
    width: 40%;
}

.col-beta {
    float: right;
    width: 59%;
}




#thumb-title {
    color: #b5121b;
}

/* Checkbox */
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#000;
    font-family: 'MyriadPro-Regular';
    font-size:12px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(img/check_radio_sheet.png) -19px top no-repeat;
}

/* Slideshow 
==================== */
#table-sets td {
	vertical-align: top;
}
